@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = _sharedLocalizer.UserSettings;
}
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fa fa-map-marker-alt"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @_sharedLocalizer.Dashboard
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">

    </div>
</div>